body {
    background: hsl(222, 26%, 31%);
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calParent {
    /* width: 300px; */
    /* height: 300px; */
    /* background: red; */
}





.result {
    background: hsl(224, 36%, 15%);
    /* height: 50px; */
    padding: 25px;
    font-weight: 700;
    font-size: 32px;
    font-family: "League Spartan", sans-serif;
    border-radius: 8px;
    overflow-x: auto;
    scrollbar-width: 3px;
}

.result p {
    text-align: right;
}

.keyboard {
    background: hsl(223, 31%, 20%);
    padding: 20px 25px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

}

.number {
    border-radius: 10px;
    border: 0px solid transparent;
    border-bottom: 4px solid hsl(28, 16%, 65%);
    /* padding: 0px 0px; */
    color: hsl(221, 14%, 31%);
    font-size: 32px;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    transition: all 0.1s;
}
/* .number:hover{
transform: translateY(3px);
} */
.reset {
    grid-column: span 2;
    background-color: #7086a7;
    color: white;
    border-bottom: 4px solid hsl(225, 21%, 49%);
    font-size: 28px;


}

.equal {
    grid-column: span 2;
    background-color: #ff5b5b;
    color: white;
    border-bottom: 4px solid #9c4949;

}

.del {
    background-color: #7086a7;
    color: white;
    border-bottom: 4px solid hsl(225, 21%, 49%);
    font-size: 28px;
}

/* ===================================== */
.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #2f3b52; */
}

.button-wrapper {
    position: relative;
    display: flex;
    width: 70px;
    /* Width set to 70px */
    height: 20px;
    /* Adjusted height */
    background-color: #1f2a3d;
    border-radius: 10px;
    /* Adjusted border-radius */
    padding: 2px;
    /* Adjusted padding */
}

.button-option {
    flex: 1;
    text-align: center;
    line-height: 20px;
    /* Adjusted line height */
    font-size: 8px;
    /* Adjusted font size */
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.button-slider {
    position: absolute;
    top: 2px;
    /* Adjusted to match padding */
    left: 5px;
    /* Adjusted to match padding */
    width: 16px;
    /* Adjusted width */
    height: 16px;
    /* Adjusted height */
    background-color: #ff5b5b;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 0;
}

.lbl {
    margin-bottom: -10px;
}
.whitebody{
    background: hsl(0, 0%, 90%);
}